html
{
	background: #7F7F7F url("../images/bg.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 3px;
}

#u304
{
	z-index: 2;
	width: 200px;
	margin-left: 895px;
}

#u478
{
	z-index: 23;
	width: 110px;
	margin-left: 81px;
	margin-top: 50px;
	position: relative;
}

#pu82
{
	width: 0.01px;
	margin-left: 148px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u82
{
	z-index: 3;
	width: 157px;
	position: relative;
	margin-right: -10000px;
}

#u87
{
	z-index: 5;
	width: 650px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 29px;
}

#u87_clip
{
	overflow: hidden;
	width: 650px;
	height: 115px;
}

#u87_img
{
	margin-bottom: -1px;
}

#pu1434
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 22px;
	position: relative;
}

#u1434
{
	z-index: 39;
	width: 181px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 589px;
}

#u1464
{
	z-index: 41;
	width: 600px;
	position: relative;
	margin-right: -10000px;
}

#pu692
{
	width: 0.01px;
	margin-left: 32px;
	position: relative;
}

#u692
{
	z-index: 37;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 568px;
}

#u1469
{
	z-index: 43;
	width: 600px;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u1474
{
	z-index: 45;
	width: 600px;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
}

#u648-4
{
	z-index: 33;
	width: 416px;
	min-height: 21px;
	font-size: 12px;
	font-style: italic;
	margin-left: 131px;
	margin-top: 7px;
	position: relative;
}

#pu103
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 36px;
	position: relative;
}

#u103
{
	z-index: 7;
	width: 190px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u108
{
	z-index: 9;
	width: 427px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 164px;
}

#u145
{
	z-index: 19;
	width: 183px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 612px;
}

#u475
{
	z-index: 21;
	width: 117px;
	position: relative;
	margin-right: -10000px;
	left: 415px;
}

#u488
{
	z-index: 26;
	height: 85px;
	width: 277px;
	vertical-align: top;
	background: url("../images/u488.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 264px;
}

#u488:hover
{
	background: url("../images/u488-r.png") no-repeat 0px 0px;
}

#pu123
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 48px;
	position: relative;
}

#u123
{
	z-index: 11;
	width: 727px;
	position: relative;
	margin-right: -10000px;
}

#u135
{
	z-index: 14;
	height: 61px;
	width: 546px;
	vertical-align: top;
	background: url("../images/u135.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 195px;
}

#u135:hover
{
	background: url("../images/u135-r.png") no-repeat 0px 0px;
}

#u140
{
	z-index: 17;
	height: 61px;
	width: 447px;
	vertical-align: top;
	background: url("../images/u140.png") no-repeat 0px 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 198px;
}

#u140:hover
{
	background: url("../images/u140-r.png") no-repeat 0px 0px;
}

#u493
{
	z-index: 29;
	height: 99px;
	width: 309px;
	vertical-align: top;
	background: url("../images/u493.png") no-repeat 0px 0px;
	margin-left: 372px;
	margin-top: 42px;
	position: relative;
}

#u493:hover
{
	background: url("../images/u493-r.png") no-repeat 0px 0px;
}

#u1486
{
	z-index: 47;
	width: 667px;
	margin-left: 217px;
	margin-top: 63px;
	position: relative;
}

#u572
{
	z-index: 31;
	width: 957px;
	margin-left: 2px;
	margin-top: 25px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

