html
{
	background: #7F7F7F url("../images/bg.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
}

#u304
{
	z-index: 2;
	width: 200px;
	margin-left: 895px;
}

#pu546
{
	z-index: 9;
	width: 0.01px;
	position: relative;
	margin-left: 39px;
	margin-top: 258px;
}

#u546
{
	z-index: 0;
	width: 638px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu544-55
{
	width: 0.01px;
	position: relative;
	left: 18px;
	padding-top: 14px;
	z-index: 2;
	padding-bottom: 10px;
}

#u544-55
{
	z-index: 10;
	width: 613px;
	min-height: 176px;
	position: relative;
	margin-right: -10000px;
}

#u544-27
{
	color: #D60000;
	font-weight: normal;
}

#u544-23,#u544-25,#u544-28,#u544-29
{
	color: #000000;
	font-weight: bold;
}

#u544-2,#u544-5,#u544-10,#u544-15,#u544-20,#u544-32,#u544-35,#u544-44
{
	font-weight: bold;
}

#u544-7,#u544-8,#u544-12,#u544-17,#u544-22,#u544-37,#u544-41,#u544-46,#u544-48,#u544-52
{
	color: #D60000;
}

#u538
{
	z-index: 7;
	width: 110px;
	margin-left: 79px;
	top: -924px;
	margin-bottom: -38px;
	position: relative;
}

#pu534
{
	width: 0.01px;
	margin-left: 146px;
	top: -889px;
	margin-bottom: -157px;
	position: relative;
}

#u534
{
	z-index: 3;
	width: 157px;
	position: relative;
	margin-right: -10000px;
}

#u536
{
	z-index: 5;
	width: 650px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 29px;
}

#u536_clip
{
	overflow: hidden;
	width: 650px;
	height: 115px;
}

#u536_img
{
	margin-bottom: -1px;
}

#pu615
{
	width: 0.01px;
	margin-left: 691px;
	top: -717px;
	margin-bottom: -149px;
	position: relative;
}

#u615
{
	z-index: 67;
	position: relative;
	width: 132px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 108px;
}

#u615_img
{
	display: block;
	vertical-align: top;
}

#u747
{
	z-index: 81;
	height: 84px;
	width: 239px;
	vertical-align: top;
	background: url("../images/u747.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
}

#u747:hover
{
	background: url("../images/u747-r.png") no-repeat 0px 0px;
}

#pu676
{
	width: 0.01px;
	margin-left: 703px;
	top: -516px;
	margin-bottom: -105px;
	position: relative;
}

#u676
{
	z-index: 78;
	width: 105px;
	position: relative;
	margin-right: -10000px;
}

#u666
{
	z-index: 74;
	width: 101px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 121px;
}

#u661
{
	z-index: 72;
	width: 105px;
	margin-left: 707px;
	top: -393px;
	margin-bottom: -105px;
	position: relative;
}

#pu770
{
	width: 0.01px;
	margin-left: 704px;
	top: -277px;
	margin-bottom: -103px;
	position: relative;
}

#u770
{
	z-index: 83;
	width: 103px;
	position: relative;
	margin-right: -10000px;
}

#u775
{
	z-index: 85;
	width: 103px;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#pu780
{
	width: 0.01px;
	margin-left: 704px;
	top: -155px;
	margin-bottom: -103px;
	position: relative;
}

#u780
{
	z-index: 87;
	width: 103px;
	position: relative;
	margin-right: -10000px;
}

#u785
{
	z-index: 89;
	width: 103px;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u617
{
	z-index: 70;
	height: 78px;
	width: 227px;
	vertical-align: top;
	background: url("../images/u617.png") no-repeat 0px 0px;
	margin-left: 703px;
	top: -613px;
	margin-bottom: -78px;
	position: relative;
}

#u617:hover
{
	background: url("../images/u617-r.png") no-repeat 0px 0px;
}

#u671
{
	z-index: 76;
	width: 101px;
	margin-left: 824px;
	top: -393px;
	margin-bottom: -101px;
	position: relative;
}

#u552
{
	z-index: 65;
	width: 677px;
	margin-left: 37px;
	margin-top: 12px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

