html
{
	background: #7F7F7F url("../images/bg.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
}

#u304
{
	z-index: 2;
	width: 200px;
	margin-left: 895px;
}

#pu546
{
	z-index: 20;
	width: 0.01px;
	position: relative;
	margin-left: 46px;
	margin-top: 360px;
}

#u546
{
	z-index: 0;
	width: 638px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu544-55
{
	width: 0.01px;
	position: relative;
	left: 18px;
	padding-top: 14px;
	z-index: 2;
	padding-bottom: 10px;
}

#u544-55
{
	z-index: 21;
	width: 613px;
	min-height: 176px;
	position: relative;
	margin-right: -10000px;
}

#u544-27
{
	color: #D60000;
	font-weight: normal;
}

#u544-23,#u544-25,#u544-28,#u544-29
{
	color: #000000;
	font-weight: bold;
}

#u544-2,#u544-5,#u544-10,#u544-15,#u544-20,#u544-32,#u544-35,#u544-44
{
	font-weight: bold;
}

#u544-7,#u544-8,#u544-12,#u544-17,#u544-22,#u544-37,#u544-41,#u544-46,#u544-48,#u544-52
{
	color: #D60000;
}

#u538
{
	z-index: 7;
	width: 110px;
	margin-left: 79px;
	top: -1023px;
	margin-bottom: -38px;
	position: relative;
}

#pu534
{
	width: 0.01px;
	margin-left: 146px;
	top: -991px;
	margin-bottom: -157px;
	position: relative;
}

#u534
{
	z-index: 3;
	width: 157px;
	position: relative;
	margin-right: -10000px;
}

#u536
{
	z-index: 5;
	width: 650px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 29px;
}

#u536_clip
{
	overflow: hidden;
	width: 650px;
	height: 115px;
}

#u536_img
{
	margin-bottom: -1px;
}

#u543-11
{
	z-index: 9;
	width: 462px;
	min-height: 92px;
	margin-left: 60px;
	top: -815px;
	margin-bottom: -92px;
	position: relative;
}

#u543-2,#u543-4,#u543-6,#u543-8
{
	color: #D60000;
	font-weight: bold;
	font-style: italic;
}

#u615
{
	z-index: 78;
	margin-left: 851px;
	top: -582px;
	margin-bottom: -91px;
	position: relative;
}

#u615_img
{
	display: block;
	vertical-align: top;
}

#pu676
{
	width: 0.01px;
	margin-left: 710px;
	top: -415px;
	margin-bottom: -122px;
	position: relative;
}

#u676
{
	z-index: 89;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u666
{
	z-index: 85;
	width: 122px;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#u661
{
	z-index: 83;
	width: 119px;
	margin-left: 714px;
	top: -272px;
	margin-bottom: -119px;
	position: relative;
}

#u617
{
	z-index: 81;
	height: 99px;
	width: 309px;
	vertical-align: top;
	background: url("../images/u617.png") no-repeat 0px 0px;
	margin-left: 701px;
	top: -526px;
	margin-bottom: -99px;
	position: relative;
}

#u617:hover
{
	background: url("../images/u617-r.png") no-repeat 0px 0px;
}

#u671
{
	z-index: 87;
	width: 115px;
	margin-left: 845px;
	top: -272px;
	margin-bottom: -115px;
	position: relative;
}

#u552
{
	z-index: 76;
	width: 677px;
	margin-left: 37px;
	margin-top: 12px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

