html
{
	background: #7F7F7F url("../images/bg.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5999999999999px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -34px;
}

#u304
{
	z-index: 2;
	width: 200px;
	margin-left: 895px;
}

#pu306
{
	width: 0.01px;
	margin-top: 20px;
	position: relative;
}

#u306
{
	z-index: 3;
	width: 960px;
	height: 620px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#U308_animation
{
	width: 960px;
	height: 620px;
	border: none;
}

#u503
{
	z-index: 26;
	width: 120px;
	position: relative;
	margin-right: -10000px;
	margin-top: 550px;
	left: 442px;
}

#pu327
{
	width: 0.01px;
	margin-left: 45px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u327
{
	z-index: 6;
	width: 528px;
	height: 311px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 333px;
}

#u326-13
{
	z-index: 9;
	width: 496px;
	min-height: 305px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 348px;
}

#u326-2,#u326-3,#u326-5,#u326-7,#u326-8,#u326-10
{
	font-size: 19px;
	color: #D60000;
	font-weight: bold;
	font-style: italic;
}

#u656
{
	z-index: 30;
	width: 323px;
	position: relative;
	margin-right: -10000px;
}

#ppu498
{
	width: 0.01px;
	margin-left: 340px;
	margin-top: 411px;
	position: relative;
}

#u498
{
	z-index: 23;
	height: 100px;
	width: 310px;
	vertical-align: top;
	background: url("../images/u498.png") no-repeat 0px 0px;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#u498:hover
{
	background: url("../images/u498-r.png") no-repeat 0px 0px;
}

#u498:active
{
	background: url("../images/u498-m.png") no-repeat 0px 0px;
}

#u464
{
	z-index: 28;
	width: 153px;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u321
{
	z-index: 7;
	width: 884px;
	margin-left: 38px;
	top: -511px;
	margin-bottom: -369px;
	position: relative;
}

#u311
{
	z-index: 4;
	width: 957px;
	margin-top: 61px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

